// app global css
img {
  width: 100%;
  max-width 100%;
}

figure {
  margin: 0;
}

.feed-price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  bottom: 0;
  width: 102px;
  height: 102px;
  font-size: 20px;
  // border-radius: 100%;
  // border: 2px solid red;
  // color: white;
}
.body {
  // background-color: #B6B5B8;
}
.feed-card {
  margin-top: 10px;
  // background-color: whitesmoke;
}
.q-expansion-item__container .q-focusable {
  display: none;
}

.bg-servico {
  background-color: $servico !important;
}

.bg-fisico {
  background-color: $fisico !important;
}

.bg-online {
  background-color: $online !important;
}

.text-servico {
  color: $servico !important;
}

.text-fisico {
  color: $fisico !important;
}

.text-online {
  color: $online !important;
}
