// app global css
img {
  width: 100%;
}

figure {
  margin: 0 auto;
  max-width 150px;
  height 150px;
}

.feed-price {
  border-radius: 100%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 102px;
  height: 102px;
  font-size: 22px;
  // color: white;
}

.q-expansion-item__container .q-focusable {
  display: none;
}
